<template name="postsArea">
  <div id="post-area" class="js-isotope container-fluid isotope">
    {{> reactiveBlockGrid cursor=posts template="post" gutter=10}}
    <span class="sizer item col-lg-3 col-md-5 col-sm-5 col-xs-12"></span>
  </div>
</template>

<template name="header">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header header">
       <a class="navbar-brand" href="/"><h1 id="wordmark">constellation</h1></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li><a>{{> newPostButton}}</a></li>
          {{/if}}
          <li><a>{{> loginButtons}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>
    </div>
  </nav> 
  {{> newPostModal}}
  {{> editPost}}
</template>

<template name="post">
  <div class="post item">
    {{> postHeader}}
    <br>
    <div class="post-body">
      <span class="text pre">{{text}}</span>
    </div>
    <br>
    <br>
    <p hidden class="created-at">{{uglifyDate createdAt}}</p>
  </div>
</template>

<template name="postPage">
  <div class="post post-page page item col-lg-6 col-md-6 col-sm-12 col-xs-12">
    {{> postHeader}}
    <br>
    <div class="post-body">
      <span class="text pre">{{text}}</span>
    </div>
    <br>
    {{subscribeToComments}}
    <ul class="comments">
      {{#each comments}}
        {{> comment}}
      {{/each}}
    </ul>
    <br>
    {{#if currentUser}}
      {{> newCommentForm}}
    {{/if}}
  </div>
</template>

<template name="postHeader">
  <div class="post-header">
    <a href="/user/{{username}}" class="username-link link"><strong>{{username}}</strong></a>
    <span class="date">{{prettifyDate createdAt}}</span>
    {{#if isOwner}}
      <div class="post-options">
        <span type="button" class="edit modal-edit" id="edit-post-modal-button" data-toggle="modal" data-target=".modal-edit-modal-sm" title="edit post">
          <span class="glyphicon glyphicon-pencil"></span>
        </span>
        <span type="button" title="delete post" class="delete">
          <span class="glyphicon glyphicon-remove"></span>
        </span>
      </div>
    {{/if}}
    <a href="{{pathFor 'postPage'}}" class="post-link link">{{commentsCount}} comments</a>
  </div>
</template>


<template name="comment">
  <li class="comment">
    <div class="comment-header">
      <a href="#{{username}}" data-toggle="modal" data-target=".user-profile" type="button" class="username-link link"><strong>{{username}}</strong></a>
      <span class="date">{{prettifyDate createdAt}}</span>
      {{#if isOwner}}
        <div class="post-options">
          <span type="button" class="edit modal-edit" id="edit-post-modal-button" data-toggle="modal" data-target=".modal-edit-modal-sm" title="edit post">
            <span class="glyphicon glyphicon-pencil"></span>
          </span>
          <span type="button" title="delete post" class="delete">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
        </div>
      {{/if}}
    </div>
    <div class="comment-body">
      <p>{{text}}</p>
    </div>
  </li>
</template>

<template name="newCommentForm">
  <div id="new-comment-area">
    <form class="new-comment">
      <textarea type="text" id="text" name="text" class="form-control" rows=3 placeholder="Type a comment here."></textarea>
      <button type="submit" class="btn btn-primary" id="submit-new-button">
        <span class="glyphicon glyphicon-plus"></span> save comment
      </button>
    </form>
  </div>
</template>

<template name="editPost">
  <div class="modal fade modal-edit-modal-sm" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-edit-modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
          <h4 class="modal-title" id="editModalLabel">edit post</h4>
        </div>
        <div class="modal-body">
          <div id="edit-post-area">
            <form class="update-post">
              <textarea type="text" id="text" class="form-control updateTextArea" rows=8 ></textarea>
              <button type="submit" class="btn btn-primary" id="submit-update-button">
                <span class="glyphicon glyphicon-plus"></span> save
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="newPostButton">
  <button type="button" class="new-post-button btn btn-primary" data-toggle="modal" data-target="#modal-new-post">
    <span class="glyphicon glyphicon-plus"></span> new post
  </button>
</template>


<template name="newPostModal">
  <div class="modal" id="modal-new-post" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" id="modal-new-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
          <h4 class="modal-title" id="new-post-label">create new post</h4>
        </div>
        <div class="modal-body">
          <div id="new-post-area">
            <form class="new-post">
              <textarea type="text" id="new-post-text" name="text" class="form-control" rows=8 placeholder="Type your new post here."></textarea>
              <button type="submit" class="btn btn-primary" id="submit-new-button">
                <span class="glyphicon glyphicon-plus"></span> submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="editProfile">
  <button type="button" id="user-options-button" class="btn btn-primary" data-toggle="modal" data-target="#user-profile-modal">
    {{currentUserName}}
  </button>
  <div class ="modal fade" id="user-profile-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
          <h4 class="modal-title">edit profile: {{currentUserName}}</h4>
        </div>
        <div class="modal-body">
          <form class="edit-profile">
            <textarea type="text" id="text" class="form-control profile-field" rows=8 placeholder="Tell us something about you!"></textarea>
            <button type="submit" class="btn btn-primary" id="save-profile-button">
              <span class="glyphicon glyphicon-pencil"></span> save
            </button>
          </form>
          <div class="user-posts">
            {{#each postsByUser}}
              {{> post}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="accessDenied">
  <div class="access-denied page jumbotron">
    <p>You need to log in to to get here.</p>
  </div>
</template>

<template name="userPage">
  <div id="user-page" class="container-fluid">  
    {{> followWidget}}
    {{#each postsByUser}}
      {{> postPage}}
    {{/each}}
  </div>
</template>

<template name="followWidget">
  {{#if currentUser}}
    <div id="test-widget" class="col-lg-3 col-md-3">
      <button id="follow-button">follow</button>
    </div>
  {{/if}}
</template>
